#toc {
  position: absolute;
  top: 0;
  left: 0;
  padding:8px 0;
  width: 300px;
}

#toc li {
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.toc-h1 {  padding-left: 0px; }
.toc-h2 {  padding-left: 10px; }
.toc-h3 {  padding-left: 20px; }
.toc-h4 {  padding-left: 30px; }
.toc-h5 {  padding-left: 40px; }
.toc-h6 {  padding-left: 50px; }